.commentOutborder {
  padding: 2px;

  font-size: 0.8rem;
  width: 80%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin: auto;
  color: white;
  margin-top: 1%;
}
.commentLi {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border-bottom: 1px solid beige;
  padding: 0.3%;
}

.outPutValue {
  word-wrap: break-word;
}

.outPutDate {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.outPutNone {
  margin-top: 13px;
  text-align: center;
  font-size: 1.2rem;
}

.commentOutX {
  color: bisque;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: none;

  color: bisque;
}

@media (max-width: 768px) {
  .commentLi {
    font-size: 0.7rem;
  }

  .commentLi {
    grid-template-columns: 15% 50% 35%;
  }
}
