.homeItemOutBorder {
  display: grid;
  margin: auto;
  text-align: center;

  border-radius: 15px;
  width: 100%;
  min-height: 80vh;
  padding: 2%;

  grid-template-columns: 20% auto 20%;
  align-items: center;
}
.asdfzxcv {
  border: 1px solid white;
}

.homeItemTitle {
  color: white;
}

.homeItemInBorder {
  margin: auto;

  display: grid;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 60vh;
  grid-template-columns: auto;
}

.homeItemMainImg {
  width: 95%;
}

.imgAnimation {
  animation-name: mainImg;
  animation-duration: 2s;
}

.homeItemMainImg:hover {
  margin-top: 0px;
}

.homeItemsubImg {
  width: 90%;
}

.homeItemsubImg:hover {
  cursor: pointer;
  width: 95%;
  margin-top: 0px;
  animation-name: mainImg;
  animation-duration: 2s;
}

@keyframes mainImg {
  0% {
    opacity: 0.1;
    transform: translateX(3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .homeItemOutBorder {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
}
