.homtItemHeader {
  text-align: center;
}
.homeItemOutBorder {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 20% auto 20%;

  margin: auto;
}

.homeItemTitle {
  color: white;
  margin-bottom: 3%;
}

.imgAnimation {
  animation-name: mainImg;
  animation-duration: 3s;
}

.imgAnimation2 {
  animation-name: mainImg2;
  animation-duration: 3s;
}

.homeItemsubImg {
  width: 70%;
}

.homeItemMainImg:hover {
  animation-name: mainHover;
  animation-duration: 3s;
}

.homeItemsubImg:hover {
  cursor: pointer;
  margin-top: 0px;
  animation-name: mainImg;
  animation-duration: 2s;
}

@keyframes mainHover {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes mainImg {
  0% {
    opacity: 0.1;
    transform: translateX(3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes mainImg2 {
  0% {
    opacity: 0.1;
    transform: translateX(3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .homtItemHeader {
    margin-top: 8%;
  }
  .homeItemOutBorder {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .homeItemTitle {
    text-align: center;
    font-size: 1.2rem;
  }
  .homeItemMainImg {
    width: 80%;
  }
  .homeItemsubImg {
    width: 100%;
  }
}
