.mainNavHeader {
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
.mainNavUl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainNavLi {
  font-size: 1.3rem;
  flex: 1;
}

.mainNavLi a:visited {
  color: white;
}

.mainNavLi a:hover {
  background-color: rgb(250, 170, 170);
  border-radius: 15px;
}

.active {
  font-size: 1.9rem;
  font-weight: 600;
}

@media (max-width: 720px) {
  .mainNavHeader {
    text-align: center;
    width: 60%;
  }
}

@media (max-width: 640px) {
  .mainNavHeader {
    text-align: center;
    width: 70%;
  }

  .mainNavLi {
    font-size: 0.8rem;
    flex: 1;
  }

  .mainNavLi a:visited {
    color: bisque;
  }
}
