.mainNavHeader {
  text-align: center;
  width: 60%;
  margin: auto;
}
.mainNavUl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainNavLi {
  font-size: 1rem;
}

.mainNavLi a:visited {
  color: white;
}

.mainNavLi a:hover {
  color: blanchedalmond;
  font-weight: 600;
}

.mainNavLi a.active {
  font-size: 1.3rem;
  font-weight: 600;
  color: blanchedalmond;
}

@media (max-width: 1024px) {
  .mainNavHeader {
    width: 50%;
  }

  .mainNavLi {
    font-size: 1rem;
  }

  .mainNavLi a:visited {
    color: white;
  }

  .mainNavLi a.active {
    color: blanchedalmond;
  }
}
