.mainNavHeader {
  text-align: center;
  width: 50%;
  margin: auto;
}

.mainNavUl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainNavLi {
  font-size: 1rem;
  flex: 1;
}

.mainNavLi a:visited {
  color: white;
}

.mainNavLi a:hover {
  background-color: rgb(250, 170, 170);
  border-radius: 15px;
}

.active {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 720px) {
  .mainNavHeader {
    text-align: center;
    width: 70%;
    margin: auto;
  }
  .mainNavLi a:visited {
    color: white;
  }
  .active {
    font-size: 1.3rem;
    font-weight: 600;
  }
}

@media (max-width: 414px) {
  .mainNavHeader {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .mainNavHeader {
    text-align: center;
    width: 100%;
  }

  .mainNavLi {
    font-size: 0.8rem;
  }

  .active {
    font-size: 1rem;
    font-weight: 600;
  }
}
