.mainNavHeader {
  text-align: center;
  width: 50%;
  margin: auto;
}

.mainNavUl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainNavLi {
  font-size: 1rem;
  flex: 1;
}

.mainNavLi a:visited {
  color: white;
}

.mainNavLi a:hover {
  color: antiquewhite;
}

.mainNavLi a.actives {
  font-size: 1.2rem;
  font-weight: 600;
  color: antiquewhite;
}

@media (max-width: 1024px) {
  .mainNavHeader {
    width: 60%;
  }
  .mainNavLi a.actives {
    font-size: 1.2rem;
    font-weight: 600;
    color: antiquewhite;
  }
}

@media (max-width: 768px) {
  .mainNavHeader {
    text-align: center;
    width: 60%;
  }
  .mainNavLi:active {
    font-size: 0.8rem;
  }
}

@media (max-width: 412px) {
  .mainNavLi {
    font-size: 0.6rem;
  }
  .mainNavLi a.actives {
    font-size: 0.8rem;
  }
}
