.movieDetailAll {
  margin: auto;
  width: 90%;
  z-index: 20;
}
.movieDetailDiv {
  display: flex;
  border: 3px solid black;
  border-radius: 8px;
  flex-wrap: wrap;
}

.movieDetailheaderdiv {
  text-align: center;
  flex: 1;
}

.movieDetailstory {
  margin-top: 50px;
}

.movieDetailTitle {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 1.9rem;
  font-weight: 700;
  color: white;
}
.movieDetailEx {
  margin-bottom: 2%;
  font-size: 0.7rem;
  color: burlywood;
}

.movieDetailGenres {
  font-size: 1.2rem;
  color: white;
}

.movieDetailOverView {
  padding-top: 1%;
  width: 90%;
  margin: auto;
  font-size: 0.8rem;
  color: white;
  line-height: 300%;
  text-align: left;
}

.movieDetailImg:hover {
  cursor: pointer;
}

.movieDetailImg {
  border-radius: 3px;
}

.MovieDetailFooter {
  margin: 3%;
}

@media (max-width: 1024px) {
  .movieDetailDiv {
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
  }

  .movieDetailstory {
    margin-top: 0px;
  }

  .movieDetailTitle {
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .movieDetailDiv {
    display: block;
  }

  .movieDetailImg {
    width: 100%;
  }

  .movieDetailTitle {
    margin: 2%;
    font-size: 1.2rem;
    margin-bottom: 2%;
  }
  .movieDetailOverView {
    margin-top: 3%;
    line-height: 200%;
    font-size: 0.9rem;
    margin-bottom: 3%;
  }
}
