.mainNavHeader {
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 50px;
}

.mainNavUl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainNavLi {
  font-size: 1rem;
  flex: 1;
}

.mainNavLi a:visited {
  color: white;
}

.mainNavLi a:hover {
  background-color: rgb(250, 170, 170);
  border-radius: 15px;
}

.active {
  font-size: 1.3rem;
  font-weight: 600;
}
