.movieDetailAll {
  margin: auto;
  padding: 5px;
  width: 90%;
  z-index: 20;
}
.movieDetailDiv {
  display: flex;
  border: 3px solid black;
  border-radius: 8px;
  flex-wrap: wrap;
}

.movieDetailheaderdiv {
  text-align: center;
  flex: 1;
}

.movieDetailTitle {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 1.9rem;
  font-weight: 700;
  color: white;
}
.movieDetailEx {
  margin-bottom: 20px;
  font-size: 0.7rem;
  color: burlywood;
}

.movieDetailGenres {
  font-size: 1.2rem;
  color: white;
}

.movieDetailOverView {
  padding-top: 10px;
  width: 80%;
  margin: auto;
  font-size: 0.8rem;
  color: white;
  padding: 5;
  line-height: 300%;
  text-align: left;
  height: 50%;
}

.movieDetailImg:hover {
  cursor: pointer;
}

.movieDetailImg {
  border-radius: 3px;
}
