.resultListBorder {
  margin: auto;
  width: 80%;
  background-color: whitesmoke;
}

.resultListHeader {
  text-align: center;
}
.resultListH {
  margin: 0px;
  padding: 1%;
}
.resultListInDiv {
  text-align: center;
  display: grid;
  background-color: rgb(220, 220, 220);
  grid-template-columns: 200px 1fr;
  grid-auto-rows: minmax(auto);
}

.resultListLi {
  border-bottom: 1px solid black;
}

.resultListD {
  display: grid;
  grid-template-rows: 1fr 3fr;
  word-break: keep-all;
}

.resultTitle {
  margin: 0;
  text-align: center;
  align-self: center;
  color: black;
}

.resultListP {
  margin: 0;
  font-size: 0.7rem;
  align-self: center;
  line-height: 200%;
  color: black;
}

@media (max-width: 768px) {
}

@media (max-width: 412px) {
  .resultListInDiv {
    display: block;
    padding: 1%;
  }

  .resultTitle {
    font-size: 1.2rem;
    margin: 3%;
    font-weight: 600;
  }

  .resultImg {
    margin: auto;
    width: 70%;
  }

  .resultListD {
    display: block;
  }

  .resultListP {
    text-align: left;
    font-size: 0.65rem;
    line-height: 170%;
    padding-left: 2%;
  }
}
