.resultListBorder {
  margin: auto;
  border: 1px solid red;
  width: 90%;
  height: 70%;
  background-color: whitesmoke;
}

.resultListHeader {
  text-align: center;
  border-bottom: 1px solid black;
}

.resultListInDiv {
  margin: 0;
  display: grid;
  background-color: azure;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: repeat(1, minmax(200px, auto));
}

.resultListLi {
  border: 1px solid black;
}
