.searchForm {
  margin: 0px;
}

.searchDiv {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.searchInput {
  background-color: black;
  width: 250px;
  height: 30px;
  padding: 3px;
  color: white;
  font-size: 0.5rem;
  border-style: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 200, "opsz" 48;
}
