.auth {
  margin: auto;
  width: 500px;
  height: 70vh;
  margin-top: 5%;
}

.header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  margin-bottom: 0px;
}

.autmDiv {
  margin: 5%;
}
.loginImg {
  text-align: center;
}

.loginFormerrors {
  display: grid;

  height: 70px;
  color: red;

  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}

.authFormInput {
  color: red;
}

@media (max-width: 1024px) {
  .auth {
    width: 60%;
  }
}

@media (max-width: 412px) {
  .auth {
    margin-top: 10%;
  }
}
