.movielayoutMain {
  width: 80%;
  padding: 2px;
  margin: auto;
}

@media (max-width: 1024px) {
  .movielayoutMain {
    border-radius: 7px;
  }
}

@media (max-width: 768px) {
  .movielayoutMain {
    width: 90%;
  }
}
