.movielayoutMain {
  width: 80%;
  padding: 5px;
  border: 3px solid black;
  border-radius: 10px;
  margin: auto;
}

@media (max-width: 1024px) {
  .movielayoutMain {
    border-radius: 7px;
  }
}

@media (max-width: 768px) {
  .movielayoutMain {
    width: 90%;
  }
}
